 <div class="subCategories container-fluid" ng-show="itemVal">
        <div class="slideCont">
          <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-if="true">
            <div uib-slide ng-repeat="slide in itemVal.itemImages" index="$index" class="slideImages">
              <a class="magnificImg itemSingleImg" ng-repeat="el in itemVal.itemImages track by $index" href="{{getImageUrls(itemVal.condoId, itemVal.itemId, el)}}" ng-show="$index == 0">
                <img class="modalImg" imageonload default-image="../../assets/img/loader.gif" fallback-image="../../assets/img/default-image.svg" ng-src="{{getImageUrls(itemVal.condoId, itemVal.itemId, slide)}}" alt="{{getImageUrls(itemVal.condoId, itemVal.itemId, slide)}}" style="margin:auto;">
              </a>
            </div>
            <div ng-if="itemVal.itemImages | isEmpty">
              <a href="" class="itemSingleImg itemSingleImgDefault" index="1">
                <img src="../../assets/img/default-image.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <h3>{{itemVal.itemTitle}}</h3>
          <p>{{itemVal.itemPrice}} THB</p>
          <div class="publishedTime">
            <i class="material-icons">access_time</i><span>{{itemVal.timestamp | datefromNow}}</span>
          </div>
        </div>
        <div>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#description" aria-controls="description" role="tab" data-toggle="tab">{{"ITEM.TAB.DESCRIPTION"|translate}}</a></li>
            <li role="presentation"><a data-target="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">{{"ITEM.TAB.CONTACTS"|translate}}</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
              <div class="col-md-12" ng-bind-html="itemVal.itemDescr | contain_newlines">
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="contacts">
              <dl class="tabInfoList">
                <li ng-show="itemVal.itemPhone">
                  <p>
                    <b>{{"ITEM.PHONE"|translate}}</b>: {{itemVal.itemPhone}}
                  </p>
                </li>
                <li ng-show="itemVal.itemEmail">
                  <p>
                    <b>{{"ITEM.EMAIL"|translate}}</b>: <a href="mailto:{{itemVal.itemEmail}}">{{itemVal.itemEmail}}</a>
                  </p>
                </li>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-md-12"></div>
      </div>
