<div class="container-fluid homePageFooter">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="footerLogo"></div>
                </div>
                <div class="col-md-10">
                    <ul class="footerSocials">
                        <li>
                            <a href="https://www.facebook.com/plimpa">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/plimpa">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/PlimpaHQ">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/plimpaHQ">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright 2016</p>
                    <p>All rights reserved. Developed by plimpa</p>
                </div>
                <div class="col-md-12">
                    <ul class="footerSiteMenu">
                        <li>Home</li>
                        <li>
                            <a ui-sref="about">About</a>
                        </li>
                        <li>
                            <a ui-sref="terms_conditions">Terms and conditions</a>
                        </li>
                        <li>
                            <a ui-sref="privacy_policy">Privacy policy</a>
                        </li>
                        <li>
                          <a ui-sref="careers">Careers</a>
                        </li>
                        <li>Locations</li>
                        <li>
                            <a ui-sref="items-directory">Directory</a>
                        </li>
                        <li>Group</li>
                        <li>Owners</li>
                        <li>
                            <a ui-sref="blog">Blog</a>
                        </li>
                        <li>Login</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
